@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/friz-quadrata');


@font-face {
  font-family: 'Friz';
  src: url("../app/fonts/friz-quadrata-std-medium.otf") format("opentype");
}


* {
  font-family: 'Friz', sans-serif;
}


.btn:hover {
  background: radial-gradient(circle, #e52b2b, #8b0000);
  box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
}
